/* .carousel-image {
  height: 100%;
  width: 40%;
} */

.header-container {
  height: 80vh;
}

.header-block {
  height: 100vh;
  width: 99vw;
  background-image: linear-gradient(
    to right bottom,
    rgba(20, 20, 20, 0.9),
    rgba(20, 20, 20, 0.8)
  );
  z-index: 100;
}
.header-block > img {
  height: 100vh;
  width: 100vw;
  z-index: -1;
  position: relative;
  perspective: 1000;
  backface-visibility: hidden;
}


@media(max-width:415px){
  .header-block {
    height: 80vh;
    width: auto;
  }
  .header-block > img {
    height: 80vh;
    width: auto;
  }
}





.header-caption {
  position: relative;
  z-index: 2;
  display: flex;
  top: -70%;
  left: 20%;
  color: #ffffff;
  
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-caption > h1 {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  letter-spacing: -1.6px;
  word-spacing: 0.16px;

}


.header-caption > p {
  font-family: 'roboto';
  font-size: 23px;
  letter-spacing: 0.24px;
  text-align: center;
  word-spacing: 0.16px;
}

.header-callbutton {
  width: 50%;
  background-color:#eeb120;
  color: #ffffff;
  display: flex;
  justify-content: center;
  border-radius: 8px;
  align-self:center;
  margin-top: 10%;
} 
.header-callbutton > h1 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 5%;

}

@media(max-width:415px){
  .header-caption{
    width: 100%;
    left: 0;
    top:-70%;
  }
  .header-caption > h1 {
    font-size: 32px;
  }
  .header-caption > p {
    font-size: 18px;
  }
  .header-callbutton {
    width: 80%;
    margin-top: 20%;
  }
  .header-callbutton > h1 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 20px;
  }
}

