.footer-container {
  height: 15vh;
  background-color: #333333;
  display: flex;
  justify-content: center;
  color: #999999;
  align-items: center;
}

@media(max-width:415px){
  .footer-container {
    height: 100px;
  }
}